*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

label.logo{
    line-height: 4rem;
    transition: 0.5s;
}

nav ul li{
    line-height: 4rem;
}

nav label{
    transition: 0.5s;
}

label.logo:hover{
    font-weight: 500;
}

nav ul li a:hover{
    transition: 0.5s;
    color: #ff9191;
}

nav label:hover{
    color: #ff9191;
}

@media (max-width: 1024px) {
    ul{
        transition: all 0.5s;
    }

    #check:checked ~ ul{
        left: 0;
    }
}